In [1]:
answer = 30 + 12
print(answer)

42

In [2]:
difference = 30 - 12
print(difference)

18

In [4]:
product = 30 * 12
print(product)

360

In [5]:
quotient = 30 / 12
print(quotient)

2.5

In [6]:
seconds = 1042

In [7]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

17

In [8]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

In [10]:
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)

print(result_1)
print(result_2)

1084
1084

In [11]:
demo_int = int('215')
print(demo_int)

215

In [12]:
demo_float = float('215.3')
print(demo_float)

215.3

In [13]:
a = 39 - 16
b = 16 - 39

In [14]:
print(abs(39 - 16))
print(abs(16 - 39))

23
23

In [15]:
print(round(14.5))

14

In [16]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

## Ejercicios

In [4]:
# Crear variables para almacenar las dos distancias
# ¡Asegúrate de quitar las comas!

planeta1 = 149597870
planeta2 = 778547200

In [15]:
# Calcular la distancia entre planetas

distance_km = planeta2 - planeta1 
print(distance_km)

distance_mi = distance_km * 0.621
print(distance_mi)

628949330
390577533.93

In [22]:
multiline = """ 
Mercurio 57900000
Venus	 108200000
Tierra	 149600000
Marte	 227900000
Júpiter	 778600000
Saturno	 1433500000
Urano	 2872500000
Neptuno	 4495100000"""
print(multiline)

Mercurio 57900000
Venus	 108200000
Tierra	 149600000
Marte	 227900000
Júpiter	 778600000
Saturno	 1433500000
Urano	 2872500000
Neptuno	 4495100000

In [23]:
# Almacenar las entradas del usuario --- Mercurio y Venus
planeta1 = input('Introduzca la distancia del sol para el primer planeta en KM')
planeta2 = input('Introduzca la distancia desde el sol para el segundo planeta en KM')

In [24]:
# Convierte las cadenas de ambos planetas a números enteros
planeta1 = int(planeta1)
planeta2 = int(planeta2)

In [25]:
# Realizar el cálculo y determinar el valor absoluto
distance_km = planeta2 - planeta1
print(distance_km)

# Convertir de KM a Millas
distance_mi = distance_km * 0.621
print(abs(distance_mi))

50300000
31236300.0